{% layout 'layout.liquid' %}
{% block content %}
    <div class="container-sm">
            <form action="/lists/{{ list.id }}?_method=PUT" method="POST">
                <fieldset class='container'>
                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12"></div>
                        <div class="col-md-4 col-sm-4 col-xs-12">
                    <legend class="text-center">Edit Listen-List</legend>
                    <label class="form-label">Artist(required): </label>
                        <input 
                            type="text" 
                            name="artist"
                            value="{{list.artist}}"
                            class="form-control bg-dark text-white"
                        >
                    <label class="form-label">Album(s)(optional):</label>
                        <input 
                            type="text" 
                            name="album" 
                            value="{{list.album}}"
                            class="form-control bg-dark text-white"
                        >
                    <label class="form-label">Song(s)(optional):</label>
                        <input 
                        type="text" 
                        name="song" 
                        value="{{list.song}}"
                        class="form-control bg-dark text-white"
                        >
                    <label class="form-label">Link if available</label>
                        <input 
                        type="url" 
                        name="link" 
                        value= "{{list.link}}"
                        class="form-control bg-dark text-white"
                    >
                    
                    <label class="form-label">Rating(1-10) if applicable:</label>
                    <select name="rating">Rating
                    <option value=""></option>
                    <option value="Plan to Listen">Plan to Listen</option>
                    <option value="On Hold">On Hold</option>
                    <option value="Currently Listening">Currently Listening</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    </select>
                    </br>

                <input 
                    type="submit" 
                    value="Edit"
                    class="btn btn-success"
                >
            </fieldset>
            </form>
        </div>
    </div> 
</div>
{% endblock %}