{% layout 'layout.liquid'%}
{% block content %}
<div class="container; text-center" style="border: rgb(58, 54, 54) 2px solid;"> 
    <h3> Profile </h6>
    <h2> {{username | capitalize}}</h4>
        <p>{{profile.id}} </p>
</div>


<div class="container text-center">
    <form method ="POST"> 
        {% for userFavoriteArtists in userFavoriteArtist %}
        <ul> 
            <p> <h2> {{userFavoriteArtist['@attr'].rank}}.{{userFavoriteArtist.name}} </h2> Play Count: {{userFavoriteArtist.playcount}}  </p>
            <a href= {{userFavoriteArtist.url}} target='_blank' class="display-6">Check them out!</a>
        </ul>
        {% endfor %}
</div>

{% endblock %}
