{% layout 'layout.liquid'%}
{% block content %}
<div class="container; text-center"> 
    <a href="/profiles/favoriteArtist" class="btn btn-outline-light" for="btn-check-2"> Next </a> 
    <div class="container text-center">
        <form method ="POST"> 
            {% for userFavoriteTracks in userFavoriteTrack %}
            <ul> 
                <hr>
                    <p> <h4 class="display-6"> {{userFavoriteTracks['@attr'].rank}}.{{userFavoriteTracks.name}} by {{userFavoriteTracks.artist.name}} </h4> Play Count: {{userFavoriteTracks.playcount}}  </p>
                    <a href= {{userFavoriteTracks.url}} target='_blank'> <h4>Check {{userFavoriteTracks.name}} out! </h4> </a>
                </hr>
            </ul>
            {% endfor %}
    </div>


    <div class="container text-center"></br>
        <form action="/profiles/favoriteTrack" method ="POST"> 
            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
            <button name="userFavoriteArtist" class="btn btn-outline-info" for="btn-check-outlined"> Reveal Favorite Tracks </button>
    </div> 




</div>


{% endblock %}

