{% layout 'layout.liquid'%}
{% block content %}
<a href="/profiles" class="btn btn-outline-light" for="btn-check-2">Back to Profile</a>
<div class="container; text-center"> 


    <div class="container text-center">
        <form method ="POST"> 
            <h4> Favorite Artists:</h4>
            {% for userFavoriteArtists in userFavoriteArtist %}
            <ul> 
                <hr>
                    <h2> {{userFavoriteArtists['@attr'].rank}}.{{userFavoriteArtists.name}} </h2>
                    <a href= {{userFavoriteArtists.url}} target='_blank' class="display-6">Check {{userFavoriteArtists.name}} out!</a></br>
                    <h4> Play Count: {{userFavoriteArtists.playcount}} </h4>
                </hr>
            </ul>
            {% endfor %}
    </div>

    <div class="container text-center">
        <form action="/profiles/favoriteArtist" method ="POST"> 
            <input type="checkbox" class="btn-check" id="btn-check-outlined" autocomplete="off">
            <button name="userFavoriteArtist" class="btn btn-outline-info" for="btn-check-outlined"> Reveal </button>
    </div>

</div>

{% endblock %}

