{% layout 'layout.liquid'%}
{% block content %}
<div class="container; text-center"> 
    <h5> Favorite Albums </h5>
</div>

<div class="container text-center">
    <form method ="POST"> 
    <a href="/profiles/favoriteTrack" class="btn btn-outline-light" for="btn-check-2">Favorite Tracks</a>
    {% for userFavoriteAlbums in userFavoriteAlbum %}
    <ul> 
        <p> <h5> {{userFavoriteAlbums['@attr'].rank}}.{{userFavoriteAlbums.name}} by {{userFavoriteAlbums.artist.name}} </h5> 
       <a href={{userFavoriteAlbums.url}} target="_blank"><img src = {{userFavoriteAlbums.image[2]['#text']}}></a> </br>
        Play Count: {{userFavoriteAlbums.playcount}}  </p>

    </ul>
    {% endfor %}
</div>



{% endblock %}
