{% layout 'layout.liquid'%}
{% block content %}
<div class="container; text-center" style="border: rgb(58, 54, 54) 2px solid;"> 
    <h3> Profile </h6>
    <h2> {{username | capitalize}}</h4>
        <p>{{profile.id}} </p>
</div>

<div class="container text-center">
    <form method ="POST"> 
    <a href="/profiles" class="btn btn-outline-light" for="btn-check-2">Hide</a>
    {% for userFavoriteAlbums in userFavoriteAlbum %}
    <ul> 
        <p> <h2> {{userFavoriteAlbums['@attr'].rank}}.{{userFavoriteAlbums.name}} by {{userFavoriteAlbums.artist.name}} </h2> 
       <a href={{userFavoriteAlbums.url}} target="_blank"><img src = {{userFavoriteAlbums.image[3]['#text']}}></a> </br>
        Play Count: {{userFavoriteAlbums.playcount}}  </p>

    </ul>
    {% endfor %}
</div>


<div class="container text-center">
    <form method ="POST"> 
        {% for userFavoriteTracks in userFavoriteTrack %}
        <ul> 
            <p> <h2> {{userFavoriteTracks['@attr'].rank}}.{{userFavoriteTracks.name}} by {{userFavoriteTracks.artist.name}} </h2> Play Count: {{userFavoriteTracks.playcount}}  </p>
            <a href= {{userFavoriteTracks.url}} target='_blank' class="display-6">Check it out!</a>
        </ul>
        {% endfor %}
</div>


<div class="container text-center">
    <form method ="POST"> 
        {% for userFavoriteArtists in userFavoriteArtist %}
        <ul> 
            <p> <h2> {{userFavoriteArtist['@attr'].rank}}.{{userFavoriteArtist.name}} </h2> Play Count: {{userFavoriteArtist.playcount}}  </p>
            <a href= {{userFavoriteArtist.url}} target='_blank' class="display-6">Check them out!</a>
        </ul>
        {% endfor %}
</div>


{% endblock %}
