{% layout "layout.liquid" %}
{% block content %}
<body class ="text-center"> 
    <h2>Welcome {{username | capitalize}}! </h2> 
    <h4> I hope you enjoy your stay at Rate my Music!</h4>
    <h5> Not sure where to begin? Heres some top hits for you!</h5>


{% for toptrack in toptracks %}
    <div style="color:rgb(10, 3, 3)">
        <li class="listedchart"> 
            <h4>{{toptrack.name}} by   <a href ={{toptrack.artist.url}}>{{toptrack.artist.name}} </a>  </h4> 
            <h5> Total play count: {{toptrack.playcount}}  </h5>
            <h2><a href = {{toptrack.url}}>  Check it out! </a>
        </li>
    </div>
{% endfor %}  

{% endblock %}



