{% layout 'layout.liquid'%}

{% block content %}
    <body class="text-center">
        <form action="/topAlbums/" method ="POST">
            <input type="text"  name="artist" placeholder= 'Enter an Artist'/> 
            <input type="submit" class="btn btn-success">
        </form> </br>
        <h1 class="display-6">Top Albums for {{album[0].artist.name}}:</h1>
        <!-- {{album.name}} -->
        {% for albums in album %}
        <hr> 
            <h5> {{albums.name}}:</h5> </br>
            <a href={{albums.url}} target="_blank">
          <img src = {{albums.image[2]['#text']}}> </a> </br>
            <a href={{albums.url}} target="_blank"> <h6>Check {{albums.name}} out! </h6></a> </br>
            <div><h6> # Of Plays: {{albums.playcount}} </h6>  </div>
        </hr>
        {% endfor %}


{% endblock %}

<!-- data.topalbums.album[0].image[0] -->