{% layout 'layout.liquid' %}
{% block content %}
<div class="container-sm">
    <form action="/feed/{{ feed.id }}?_method=PUT" method="POST">
        <fieldset>
            <legend>Edit Your Music Thought</legend>
            <label class="form-label">Artist: </label>
            <input 
                type="text" 
                name="artist" 
                value="{{feed.artist}}"
                class="form-control bg-dark text-white"
            >
            <label class="form-label">Song(s):</label>
            <input 
                type="text" 
                name="song" 
                value= "{{feed.song}}"
                class="form-control bg-dark text-white"
            >
            <label class="form-label">Album(s):</label>
            <input 
                type="text" 
                name="album" 
                value= "{{feed.album}}"
                class="form-control bg-dark text-white"
            ></br>
            <textarea input 
            type="text" 
            cols="100"
            rows="5"
            class="form-control bg-dark text-white"
            name="opinion">{{feed.opinion}}</textarea>
        </fieldset>
        <input type="submit" value="Edit" class="btn btn-success">
    </form>
</div>
{% endblock %}