{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">My Feed</h2>
    <div class=""> 
        {% for feed in feeds %}
        <div class="card" style="background-color: rgb(27,27,27); margin: 10px;;">
            <h6> Likes: {{feed.rating}}</h6>
             <a href="/feed/{{ feed.id }}"> {{feed.topic}}  </a>    
            <div class="card-body">
            {% if feed.artist.length > 0 %}   
                Artist: {{ feed.artist }}
            {% endif %}
            {% if feed.song.length > 0  %}
                <p class="card-text">
                    Song(s): {{ feed.song }}
                </p>
            {% endif %}
             <!-- if user leaves album/song empty - it will not show -->
            {% if feed.album.length > 0 %}
                <p class="card-text">
                    Album(s): {{ feed.album }}
                </p>
            {% endif %}
                <p class="card-text">
                    {{ feed.opinion }}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}