{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">My Feed</h2>
    <div class="row"> 
        {% for feed in feeds %}
        <div class="card" style="width: 18rem; background-color: rgb(27,27,27); margin: 1px;">
            <h5 class="card-header">{{ feed.artist }}</h5>
            <div class="card-body">
            {% if feed.song.length > 0  %}
                <p class="card-text">
                    Song(s): {{ feed.song }}
                </p>
            {% endif %}
             <!-- if user leaves album/song empty - it will not show -->
            {% if feed.album.length > 0 %}
                <p class="card-text">
                    Album(s): {{ feed.album }}
                </p>
            {% endif %}
                <p class="card-text">
                    Topic: {{ feed.opinion }}
                </p>
                <a href="/feed/{{ feed.id }}" class="btn btn-info">
                    View discussion
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</div>
{% endblock %}