{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">My feed</h2>
        {% for feed in feeds %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ feed.title }}</h5>
            <div class="card-body">
                <p class="card-text">
                    Body: {{ feed.body }}
                </p>
                <p class="card-text">
                    Amount: {{ feed.amount }}
                </p>
                <a href="/feeds/{{ feed.id }}" class="btn btn-info">
                    View {{ feed.title }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}