{% layout 'layout.liquid' %}
{% block content %}
<div class="container-md">
    <!-- This is where the discussion stuff are -->
    <article>
        <a href="/feed/" class="btn btn-outline-light"> Go back </a>
            <h2>{{feed.title }}</h2>
        <!-- if user leaves artist/album/song empty - it will not show -->
            {% if feed.artist.length > 0 %}   
                <h4>Artist: {{ feed.artist }}</h4>
            {% endif %}
            {% if feed.song.length > 0 %}
                <h4>Song: {{ feed.song }}</h4>
            {% endif %}
            {% if feed.album.length > 0 %}
                <h3>Album: {{ feed.album }}</h3>
            {% endif %}
            {% if feed.personalRating > 0 %}
                <p> Rating: {{feed.personalRating}} </p> 
            {% endif %}
        <h6 class="display-6">Topic: {{ feed.opinion }}</h6>
        {% if feed.owner == userId %}
        <span class="btn-group" >
            <a href="/feed/{{ feed.id }}/edit" class="btn btn-outline-warning";">Edit Post</a> 
        </span>
        <span class="btn-group">
            <form action="/feed/{{ feed.id }}?_method=DELETE" method="POST">
                <input type="submit" value="Delete Post" class="btn btn-outline-danger">
            </form>
        </span>
        {% endif %}</br>
    </article></br>

    <!-- This is where the like button is displayed -->
    <h5> Likes:{{feed.rating }} </h5>
        <form action ="/feed/{{ feed._id }}/feed?_method=PUT" method="POST">
        <button type ="submit" class="btn btn-outline-success" >Like Post</button>
    </form> 

<!-- {% if userId < 0  %} -->
    <!-- {% elsif %}
    You already liked this post
    {% endif %} -->

    <!-- Where comments go/populate -->
    <div class="col-md-6">
        <form action="/comments/{{feed.id}}" method="POST">
            <fieldset>
                <legend>Add Comment</legend>
                <label class="form-label">Comment: </label>
                <textarea input type="text"rows="6"class="form-control bg-dark text-white" name="note" placeholder="enter comment here..." required></textarea>
            </fieldset>
            <input type="submit" class="btn btn-outline-info" value="Add Comment">
        </form>
    </div> </br>

    {% if feed.comments.length > 0 %}
        <!-- here we'll add our comment container -->
        <div class="container-sm justify-content-center" >
            <div class="col-md-8 col-lg-6">
                <!-- here we need to loop over the comments -->
                <!-- for every comment render a comment.liquid block -->
                {% for comment in feed.comments %}
                    {% render '../comment.liquid', comment:comment, userId:
                    userId, feed:feed %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

</div>
{% endblock %}