{% layout 'layout.liquid'%}
{% block content %}
    <body class="text-center">
        <form action="/favoriteSong/" method ="POST">
            <input type="text"  name="favoriteTrack"> 
            <input type="submit" class="btn btn-success">

        <h1 class="display-3">Top Tracks:</h1>
        {% for favoriteTracks in favoriteTrack %}
            <ul> 
            <hr> 
                <p> <h2> {{favoriteTracks['@attr'].rank}}.{{favoriteTracks.name}} by {{favoriteTracks.artist.name}} </h2> Play Count: {{favoriteTracks.playcount}}  </p>
                <a href= {{favoriteTracks.url}} target='_blank' class="display-6">Check {{favoriteTracks.name}} out!</a>
            </hr>
            </ul>
        {% endfor %}
        
    </form> </br> 

</body>


 

{% endblock %}