{% layout 'layout.liquid'%}
{% block content %}
    <body class="text-center">
    <form action="/favoriteAlbum/" method ="POST">
        <input type="text"  name="favoriteAlbum"> 
        <input type="submit" class="btn btn-success">

    <h1 class="display-3">Top Albums:</h1>
    {% for favoriteAlbums in favoriteAlbum %}
    <ul> 
        <hr>
            <p> <h2> {{favoriteAlbums['@attr'].rank}}.{{favoriteAlbums.name}} by {{favoriteAlbums.artist.name}} </h2> 
            <a href={{favoriteAlbums.url}} target="_blank"><img src = {{favoriteAlbums.image[2]['#text']}}></a> </br>
            Play Count: {{favoriteAlbums.playcount}}  </p>
        </hr>
    </ul>
    {% endfor %}
</form> </br> 
</body>
{% endblock %}